@model WebAnime.Models.DanhMuc

@{
    ViewBag.Title = "Xoadanhmuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN DANH MỤC CẦN XÓA</h2>

<div>
    <h4> Bạn quyết định xóa danh mục này?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên danh mục:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDM)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi)
        </dd>

        <dt>
            Điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dienthoai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "DanhMuc")
        </div>
    }
</div>
