<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> Anime Figures Shop</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("TRANG CHỦ", "Index", "AnimeFiguresShop")
                    </li>
                    <li>
                        @Html.ActionLink("ĐĂNG KÝ", "Dangky", "Nguoidung")
                    </li>
                    <li>
                        @Html.ActionLink("ĐĂNG NHẬP", "Dangnhap", "Nguoidung")
                    </li>
                    <li>
                        @Html.Action("GiohangPartial", "Giohang")
                    </li>
                    <li>
                        <a href="@Url.Action("About","Home")">Liên Hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Danh Mục</p>
                @Html.Action("DanhMuc", "AnimeFiguresShop")


                <p class="lead">Chủ Đề</p>
                @Html.Action("ChuDe", "AnimeFiguresShop")



            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="~/images/Banner/eyes.jpg" alt="hinh1" />
                                    <h3>Thời gian làm việc: từ 9:00 AM - 8:00 PM</h3>
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/images/Banner/temple.jpg" alt="hinh2" />
                                    <h3>Điện thoại: 0916446984</h3>
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/images/Banner/templetree.jpg" alt="hinh3" />
                                    <h3>ahhhawbh</h3>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

                <h3 style="text-align:center; color:red">Anime Figures Shop</h3>
                <div>

                    @RenderBody()

                </div>



            </div>

        </div>

    </div>
    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li>
                            <i class="far fa-dot-circle-o">
                            </i>
                            <strong>Địa chỉ:</strong>
                            <span>146A Phan Văn Trị, phường 12, quận Bình Thành, TP.HCM</span>
                        </li>
                        <li>
                            <i class="far fa-whatsapp">
                            </i>
                            <strong>Điện thoại:</strong>
                            <span>0916446984</span>
                        </li>
                        <li>
                            <i class="far fa-envelope">
                            </i>
                            <strong>Email:</strong>
                            <span>nphi172@gmail.com</span>
                        </li>
                        <li>
                            <i class="far fa-clock">
                            </i>
                            <strong>Thời gian làm việc:</strong>
                            <span>Tất cả các ngày trong tuần / 9:00 AM - 8:00 PM</span>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/60fc247a649e0a0a5ccdc1d3/1fbcesvq9';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
